<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quromorinaプロフィール</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Quromorinaプロフィール</h1>
    </header>
    <section id="intro">
        <h2>自己紹介</h2>
        <p>ゲームしたりクラブ行ったりしてるオタク。アニメとか漫画とか、映画とか、たまに小説とか見る</p>
        <div class="intro-icons">
            {% for icon in icons %}
            <img src="{{ icon }}" alt="icon">
            {% endfor %}
        </div>
    </section>
    <section>
        <h2>SNS リンク</h2>
        <ul class="social-links">
            <li>
                <a href="https://x.com/Quromorina" target="_new" rel="noopener noreferrer">
                    <img src="/static/twitter.png" alt="Twitter icon">Twitter
                </a>
            </li>
            <li>
                <a href="https://www.twitch.tv/quromorina" target="_new" rel="noopener noreferrer">
                    <img src="/static/twitch.png" alt="Twitch icon">Twitch
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/quromorina?igsh=MXI2OW9xeGM1M2tjag==" target="_new" rel="noopener noreferrer">
                    <img src="/static/instagram.png" alt="Instagram icon">Instagram
                </a>
            </li>
            <li>
                <a href="https://github.com/Quromorina" target="_new" rel="noopener noreferrer">
                    <img src="/static/github.png" alt="GitHub icon">GitHub
                </a>
            </li>
        </ul>
    </section>
    <section>
        <h2>最新ツイートとmeme投稿アカウント</h2>
        <div class="tweet-wrapper">
            <div class="tweet-area">
                <a class="twitter-timeline" href="https://twitter.com/Quromorina" data-theme="dark" data-tweet-limit="5" data-height="350">Tweets by Quromorina</a>
            </div>
            <div class="tweet-area">
                <a class="twitter-timeline" href="https://twitter.com/pointing_meme" data-theme="dark" data-tweet-limit="5" data-height="350">Tweets by Guys pointing</a>
            </div>
        </div>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>
    <section>
        <h2>使用デバイス</h2>
        <div class="device-cards">
            {% for d in devices %}
            <a class="device-card" href="{{ d.url }}" target="_new" rel="noopener noreferrer">
                <img src="{{ d.image }}" alt="{{ d.name }}">
                <p class="device-type">{{ d.type }}</p>
                <h3>{{ d.name }}</h3>
            </a>
            {% endfor %}
        </div>
    </section>
    <section id="youtube">
        <h2>おすすめYouTubeチャンネル</h2>
        <div class="youtube-videos">
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/aqz-KE-bpKQ" title="YouTube video" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/oHg5SJYRHA0" title="YouTube video" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>
</body>
</html>
