<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quromorina各種リンク</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Quromorina各種リンク</h1>
    </header>
    <section>
        <h2>自己紹介</h2>
        <p><img src="/static/Raphael.jpg" alt="白羽=ラファエル=エインズワース"></p>
        <p>ゲームしたりクラブ行ったりしてるオタク。アニメとか漫画とか、映画とか、たまに小説とか見る</p>
    </section>
    <section>
        <h2>SNS リンク</h2>
        <ul>
            <li><a href="https://x.com/Quromorina">Twitter</a></li>
            <li><a href="https://www.twitch.tv/quromorina">Twitch</a></li>
            <li><a href="https://www.instagram.com/quromorina?igsh=MXI2OW9xeGM1M2tjag==">Instagram</a></li>
            <li><a href="https://github.com/Quromorina">GitHub</a></li>
        </ul>
    </section>
    <section>
        <h2>使用デバイス</h2>
        <ul>
            <li>マウス：<a href="https://amzn.to/4koWjRo">LAMZU Maya</a></li>
            <li>マウスパッド：<a href="https://www.fumo-collection.com/products/glsswrks-mousepad-hana-int-4942?srsltid=AfmBOorT8DhhlGi-qyTb0jjEkN6q_xjok_lrqFczCP6s-ymZsM6Dsar7">GLASSWRKS HANA</a></li>
            <li>キーボード：<a href="https://amzn.to/3Sw9nbz">nuphy Air60 HE</a></li>
            <li>イヤホン：<a href="https://amzn.to/3ZMlDII">Linsoul ZiiGaat×Fresh Review Arete</a></li>
            <li>イヤホン(サブ)：<a href="https://amzn.to/3HnOzAG">SONY INZONE Buds</a></li>
            <li>オーディオインターフェース：<a href="https://amzn.to/3ZKD902">MOTU M2</a></li>
            <li>マイク：<a href="https://amzn.to/43sBBu4">オーディオテクニカ AT2040</a></li>
        </ul>
    </section>
</body>
</html>
