<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quromorina各種リンク</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Quromorina各種リンク</h1>
    </header>
    <section id="intro">
        <h2>自己紹介</h2>
        <p>ゲームしたりクラブ行ったりしてるオタク。アニメとか漫画とか、映画とか、たまに小説とか見る</p>
    </section>
    <section>
        <h2>SNS リンク</h2>
        <ul class="social-links">
            <li>
                <a href="https://x.com/Quromorina">
                    <img src="/static/twitter.png" alt="Twitter icon">Twitter
                </a>
            </li>
            <li>
                <a href="https://www.twitch.tv/quromorina">
                    <img src="/static/twitch.png" alt="Twitch icon">Twitch
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/quromorina?igsh=MXI2OW9xeGM1M2tjag==">
                    <img src="/static/instagram.png" alt="Instagram icon">Instagram
                </a>
            </li>
            <li>
                <a href="https://github.com/Quromorina">
                    <img src="/static/github.png" alt="GitHub icon">GitHub
                </a>
            </li>
        </ul>
    </section>
    <section>
        <h2>使用デバイス</h2>
        <div class="device-cards">
            {% for d in devices %}
            <div class="device-card">
                <img src="{{ d.image }}" alt="{{ d.name }}">
                <h3><a href="{{ d.url }}">{{ d.name }}</a></h3>
            </div>
            {% endfor %}
        </div>
    </section>

    <section>
        <h2>視聴・読了した作品</h2>
        {% for category, items in media.items() %}
        <h3>{{ category|capitalize }}</h3>
        <div class="media-cards">
            {% for item in items %}
            <div class="media-card">
                <img src="{{ item.image }}" alt="{{ item.title }}">
                <p>{{ item.title }}</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
</body>
</html>
